@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700&family=Sriracha&display=swap');

*{
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: none;
    text-decoration: none;
}

:root{
    --font1: Verdana, Geneva, Tahoma, sans-serif;
    --titulo: 'Passion One', cursive;
    --Conteudo: 'Sriracha', cursive;

    font-size: 62.5%;
}

/* Header */

header{
    background: black;
    text-align: center;
    padding: 2rem;
    margin-bottom: 5rem;
}

header span{
    font-size: 6.5rem;
}

header h1{
    font-size: 5rem;
    color: white;
    margin-bottom: .5rem;
    font-family: var(--titulo);
    /* font-variant: small-caps */
}

header p{
    display: inline;
    font-size: 1.6rem;
    color: white;
    margin-right: .2rem;
    font-family: var(--font1);
}

header a{
    font-size: 1.6rem;
    color: white;
    font-weight: bolder;
    font-family: var(--font1);
}

header a:hover{
    text-decoration: underline;
}

/* main */

.normal{
    padding: 3rem;
    max-width: 40rem;
    font-family: var(--Conteudo);
    font-size: 4rem;

}

#joaninha{
    padding: 5rem;
    height: 60rem;
    font-family: var(--Conteudo);
    font-size: 4rem;
    background: purple url('images/background001.jpg') no-repeat right/cover;
    background-attachment: fixed;
}

#joaninha div{
    position: absolute;
    max-width: 40rem;
    color: white;
    background-color: rgba(0, 0, 0, 0.514);
    text-shadow: 1px 1px 0px black;
    border: .1rem rgba(0, 0, 0, 0.479) solid;
}   

.livro{
    padding: 5rem;
    height: 60rem;
    font-family: var(--Conteudo);
    font-size: 4rem;
    background: purple url('images/background002.jpg') no-repeat right/cover;
    background-attachment: fixed;
}

.livro div{
    position: absolute;
    max-width: 40rem;
    color: white;
    background-color: rgba(0, 0, 0, 0.548);
    border: .1rem rgba(0, 0, 0, 0.479) solid;
} 

/* Footer */

footer{
    background: black;
    color: white;
    text-align: center;
    font-size: 1.6rem;
    margin-top: 5rem;
    font-family: var(--font1);
    padding: 1rem;
}

footer a{
    color: white;
    font-weight: bolder;
}

footer a:hover{
    text-decoration: underline;
}